{% extends "base.html" %}
{%load static%}
{%block body%} 
   
  
  <!-- Start  BreadCrumbs For All Pages Change Image  -->
    
    <section class="hero-wrap breadcrumb-about hero-wrap-2" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-8 ftco-animate text-center mydesc-text-overlay-mb">
            <h3 class="sub-title">اعرف اكتر عن الجارحي  </h3>
            <h1 class="mb-3 bread">عن الجارحي </h1>
            <p class="desc mt-4"> محمد جمال عبد القادر الجارحي، الأمين العام المساعد وأمين شباب الجمهورية بحزب مستقبل وطن، ورئيس مجلس إدارة مركز مستقبل وطن للدراسات السياسية والاستراتيجية </p>
            <!-- <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About us <i class="ion-ios-arrow-forward"></i></span></p> -->
          </div>
        </div>
      </div>
    </section>

  <!-- End  BreadCrumbs For All Pages Change Image  -->

     <!-- Start Section About More  -->
     
     <section class="ftco-section  section-about-home">
    	<div class="container">
    		<div class="row d-flex about1" >
    			<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12  d-flex about-garhy-img mb-5">
            <div class="about-img-single">
              <img src="{% static 'images/About/about.jpg'%}" alt="about" class="aboutpage-garhy-img">
            </div>
    			</div>
    			<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12    about-garhy-content">
    				<div class="row justify-content-start pt-3 pb-3">
		          <div class="col-xl-12 col-lg-12 col-md-12 heading-section-about ftco-animate">
		          	<span class="subheading"> عن الجارحي </span>
		            <h2 class="mb-4">من هو محمد الجارحي ؟  </h2>
                <p class="mb-4" >محمد جمال عبد القادر الجارحي، الأمين العام المساعد وأمين شباب الجمهورية بحزب مستقبل وطن، ورئيس مجلس إدارة مركز مستقبل وطن للدراسات السياسية والاستراتيجية.</p> 
                <p class="mb-4">ولد الجارحي في نوفمبر 1986، وتخرج من الأكاديمية العربية للعلوم والتكنولوجيا، مكملاً دراسته لماجستير إدارة الأعمال، والدبلومة المهنية فى الاقتصاد والتجارة.</p>     
                <p class="mb-4">ولد الجارحي في نوفمبر 1986، وتخرج من الأكاديمية العربية للعلوم والتكنولوجيا، مكملاً دراسته لماجستير إدارة الأعمال، والدبلومة المهنية فى الاقتصاد والتجارة.</p>     
              </div>
		        </div>
	        </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 about-garhy-more">
          <div class="row justify-content-start pt-3 pb-3">
            <div class="col-xl-11 col-lg-11 col-md-12 heading-section-about ftco-animate" style="padding: 0;">
              <h2 class="mb-4 head-color"> مساهمة الجارحي في المجال السياسي  </h2>
              <p class="mb-5" >وعلى المستوى السياسي، كان الجارحي عضواً بارزاً في حزب "مستقبل وطن" منذ تأسيسه قبل 6 سنوات؛ حيث بدأ نشاطه الحزبي عضو في لجنة الصناعة بالحزب فرئيسا لها، ثم أميناً لأمانة اللجان المتخصصة، ثم الأمين العام المساعد وأمين شباب الجمهورية.</p> 
            </div>
          </div>
        </div>
        <div class="row d-flex about2">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 about-garhy-more">
            <div class="row justify-content-start pt-3 pb-3">
              <div class="col-xl-12 col-lg-12 col-md-12 heading-section-about ftco-animate">
                <h2 class="mb-4 head-color "> أعمال واستثمارات الجارحي </h2>
                <p class="mb-2" >وكما تسير الدولة المصرية في مختلف محاور التنمية لبناء مصر القوية، ينطلق الجارحي بحس وطني في مشروعاته واستثماراته في مختلف المجالات</p> 
                <p class="mb-2">فهو نائب رئيس مجلس الإدارة والعضو المنتدب لمجموعة حديد الجارحي، ورئيس مجلس إدارة شركة "Bigbillboard" للدعاية والإعلان، والعضو المنتدب لشركة ويست فيلدج للاستصلاح الزراعي، وعضو مجلس أمناء جامعة "Hertfordshire" الإنجليزية بالعاصمة الإدارية الجديدة. ورئيس مجلس إدارة شركة HF Tube لصناعة المواسير، وعضو مجلس إدارة شركة "صن بيتش للمشروعات السياحية</p> 
                <p class="mb-2">كما  اُنتخب الجارحي عضوا بمجلس إدارة غرفة الصناعات المعدنية باتحاد الصناعات المصري، وكان ممثلاً لمصر في العديد من الفعاليات الدولية كمؤتمر العمل الدولي بجنيف عام 2017 ممثلاً عن قطاع الأعمال.</p>    
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 about2-img">
            <div class="about-img-single">
              <img src="{% static 'images/About/0N8A0851.JPG'%}" alt="about" class="aboutpage-garhy-img">
            </div>
          </div>

        </div>

       <div class="row d-flex about-3">
     
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 about3-img ">
          <div class="about-img-single">
            <img src="{% static 'images/About/52.jpg'%}" alt="about" class="aboutpage-garhy-img">
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 about-garhy-more">
          <div class="row justify-content-start pt-3 pb-3">
            <div class="col-md-12 heading-section-about ftco-animate">
              <h2 class="mb-4 head-color" > مساهمة الجارحي في المجال الرياضي  </h2>
              <p class="mb-4" >وعلى المستوى الرياضي ساهم الجارحي في تنمية وبناء كوادر وأبطال رياضية مصرية قادرة على المنافسة عالمياً، فكانت رعايته للعديد من رياضي مصر للحصول على ميداليات أولمبية.</p> 
              <p class="mb-4">وفي مقدمتهم السباحة فريدة عثمان، والرباع محمد إيهاب. فضلاً عن رعاية ذوي الهمم؛ فكانت رعايته للموهبة الفنية "مريم وجيه" قاهرة متلازمة داون.</p>
              <p class="mb-4" >ومن المدرجات عاشقاً للكيان العظيم وناديه المفضل النادي الأهلي إلى مقاعد مجلس إدارة النادي خادما ومخططا لتطوير المنظومة والحفاظ على قيم الكيان ليظل الأهلي فوق الجميع.</p> 
            </div>
          </div>
        </div>
        <div class="col-lg-10 col-md-12 col-sm-12 mt-5 about4">
              <p class="mb-2" style="font-weight: 600;" >فكانت عضويته الفاعلة بمجلس إدارة النادي الأهلي المصري، وعضوية لجنة إعداد لائحة النظام الأساسي بالنادي، ورئيسا للجنة العليا لعدد من البطولات الرياضية منها:</p> 
              <p class="mb-5 " style="font-weight: 600;"> البطولة الأفريقية لكرة اليد للرجال والسيدات 2018، <br> وكذلك بطولتي الرجال والسيدات للكرة الطائرة في نفس العام، <br> وأيضًا بطولتي كأس الكؤوس الأفريقية للرجال والسيدات خلال عام 2018 </p>  
        </div>
       </div>
       
    	</div>
	</section>
     <!-- End Section About More  -->



     <!-- Start Mile Stones Of El Garhy  -->
     <section class="ftco-section milestone-section" id="garhyBusiness1">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10 text-center heading-section ftco-animate">
            <span class="subheading">إنجازات وأحداث هامة  </span>
          <h2 class="mb-4">إنجازات ومعالم مهمة حققها الجارحي   </h2>
          <p class="mb-5">المعالم والأحداث المهمة التي وصل إليها الجارحي خلال مسيرته وتطويره الدائم على المستوى الاقتصادي والسياسى محليا ودوليا </p>
          </div>
        </div>
        <div class="row ftco-animate">
          <div class="col-md-12 justify-content-start text-center">
            <div class="carousel-milestone owl-carousel ftco-owl">
              <div class="item">
                <div class="business-imgs text-center justify-content-center">
                  <img src="{% static 'images/Business/loogooooooo.png'%}" alt="" class="img-business" >
                  <span class="date">1994</span>
                </div>
              </div>
              <div class="item">
                <div class="business-imgs text-center justify-content-center">
                  <img src="{% static 'images/Business/bigbillboard logo Black.png'%}" alt="" class="img-business" >
                  <span class="date">2019</span>
                </div>
              </div>
              <div class="item">
                <div class="business-imgs text-center justify-content-center">
                  <img src="{% static 'images/Business/sun beach.png'%}" alt="" class="img-business" >
                  <span class="date">2020</span>
                </div>
              </div>
              <div class="item">
                <div class="business-imgs text-center justify-content-center">
                  <img src="{% static 'images/Business/West Village.png'%}" alt="" class="img-business" >
                  <span class="date">2018</span>
                </div>
              </div>
              <div class="item">
                <div class="business-imgs text-center justify-content-center">
                  <img src="{% static 'images/Business/HFTUBE.png'%}" alt="" class="img-business" >
                  <span class="date">2016</span>
                </div>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </section>
     <!-- End Mile Stones Of El Garhy  -->
     	<!-- Start What They say about Elgarhy  -->
	<section class="ftco-section testimony-section" style="background-color: #f6f6f6;">
		<div class="container">
      <div class="row justify-content-center">
				<div class="col-md-10 text-center heading-section ftco-animate">
					<span class="subheading">آراء</span>
				<h2 class="mb-4">قالوا عن الجارحي </h2>
				<p class="mb-4">بعض ما قيل عن الجارحي من آراء وشهادات وتوصيات من أهل الخبرة والثقة  </p>
				</div>
			</div>
			<div class="row ftco-animate">
				<div class="col-md-12">
				<div class="carousel-testimony owl-carousel ftco-owl">
					{%for say in says%}
            <div class="item">
              <div class="testimony-wrap py-4">
                <div class="text">
                  <p class="mb-4 justify-content-lg-center" style="line-height: 1.5; min-height: 144px !important;">{{say.content}} </p>
                  <div class="d-flex align-items-center">
                    <div class="user-content">
                      <p class="name">{{say.name}}</p>
                      <span class="position">{{say.job}}</span>
                    </div>
                    <div class="user-img" style="background-image: url({{say.img.url}})"></div>

                  </div>
                </div>
              </div>
            </div>
          {%endfor%}
				</div>
				</div>
			</div>
		</div>
	</section>
		<!-- End  What They say about Elgarhy  -->

    {%endblock%}





  
