{% extends "base.html" %}
{%load static%}
{% load custom_tags %}
{%block body%}  
  <div class="hero-wrap breadcrumb-home js-fullheight"  >
		<div class="overlay"></div>
		<div class="container">
		  <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" style="direction: ltr;" data-scrollax-parent="true">
			<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12  ftco-animate garhy-voice">
				<h2 class="subheading" style="font-size: 62px; margin-bottom: 10px;">
				  محمد الجارحي 
			  </h2>
				<h1>صوتك هيوصل	</h1>
					  
					  <!-- <h1 class="mb-4">	
						  <span
						  class="txt-rotate"
						  data-period="2000"
						  data-rotate='[ "انزل و شارك  ", " مارس حقك  " , " مشاركتك هتفرق "]'></span>
					  </h1> -->
			 
			  <!-- <p class="mb-0"> 
				  مجلس النواب هو صوتك للتعبير عن مشاكلك وطموحاتك. </p>
				  <p class="mb-0">
					  علشان كدا مشاركتك النهارده هتفرق. 
				  </p>
				  <p class="mb-5">
				  مارس حقك.. انزل و شارك.
				  </p> -->
			  <!-- <p><a href="#" class="btn btn-primary mr-md-4 py-2 px-4">Explore More  <span class="icon-personal_video"></span></a></p> -->
			  <!-- Image el garhy for typograph  -->
			  <!-- <p><img src="images/Gar7yTypo.jpg"> </p> -->
			</div>
		  </div>
		</div>
	  </div>
	  <!-- End  Home Section	 -->
  
  
	  <!-- About El Garhy -->
	  
	  <section class="ftco-section  section-about-home">
		  <div class="container">
			  <div class="row d-flex">
				  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12  d-flex about-garhy-img">
					  <div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-end about-home-img" >
						  <!-- <a href="#aboutVideo" class="icon-video  d-flex justify-content-center align-items-center">
							  <span class="icon-play"></span>
						  </a> -->
					  </div>
				  </div>
				  <div class="col-lg-6 col-md-12 col-sm-12  pl-md-5  about-garhy-content">
					  <div class="row justify-content-start pt-3 pb-3">
					<div class="col-md-12 heading-section ftco-animate">
						<span class="subheading">نبذة عن الجارحي </span>
					  <h2 class="mb-4">من هو محمد الجارحي ؟  </h2>
					  <p class="mb-5">محمد جمال عبد القادر الجارحي، الأمين العام المساعد وأمين شباب الجمهورية بحزب مستقبل وطن، ورئيس مجلس إدارة مركز مستقبل وطن للدراسات السياسية والاستراتيجية.</p>
					  <div class="tabulation-2 mt-4">
									  <ul class="nav nav-pills nav-fill d-md-flex d-block about-check">
										<li class="nav-item mb-md-0 mb-2">
										  <a class="nav-link active py-2" data-toggle="tab" href="#home1">بدايته</a>
										</li>
										<li class="nav-item px-lg-2 mb-md-0 mb-2">
										  <a class="nav-link py-2" data-toggle="tab" href="#home2">أعماله</a>
										</li>
										<li class="nav-item px-lg-2 mb-md-0 mb-2">
										  <a class="nav-link py-2 " data-toggle="tab" href="#home3">مساهماته</a>
										</li>
									  </ul>
									  <div class="tab-content bg-light rounded mt-2">
										<div class="tab-pane container p-0 active" id="home1">
											<p>ولد الجارحي في نوفمبر 1986، وتخرج من الأكاديمية العربية للعلوم والتكنولوجيا، مكملاً دراسته لماجستير إدارة الأعمال، والدبلومة المهنية فى الاقتصاد والتجارة.</p>
										</div>
										<div class="tab-pane container p-0 fade" id="home2">
											<p>نائب رئيس مجلس الإدارة والعضو المنتدب لمجموعة حديد الجارحي، ورئيس مجلس إدارة شركة "Bigbillboard" للدعاية والإعلان، والعضو المنتدب لشركة ويست فيلدج للاستصلاح الزراعي، وعضو مجلس أمناء جامعة "Hertfordshire" الإنجليزية بالعاصمة الإدارية الجديدة</p>
										</div>
										<div class="tab-pane container p-0 fade" id="home3">
											<p>ولم يغفل الجارحي مسئوليته المجتمعية ودوره الإنساني، فأطلق العديد من المبادرات لتخفيف العبء عن المواطن المصري كمبادرة دعم العمالة غير المنتظمة وتحدي الخير خلال جائحة كورونا، ودعم العديد من المؤسسات الصحية</p>
										</div>
									  </div>
								  </div>
					  <div>
						  <h4>
							  <!-- Put Image El Garhy Typo -->
						  </h4>
					  </div>
					</div>
				  </div>
			  </div>
		  </div>
		  </div>
	  </section>
  
	  <!-- End About El Garhy  -->
  
	  <!-- Start Video About El Garhy FB EMEBED  -->
	  <section class=" facebook-video about-elgarhy-video  " id="aboutVideo">
		  <div class="container">
			  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-center heading-section ftco-animate">
				  <span class="subheading">اعرف اكتر عن الجارحي </span>
				<h2 class="mb-4">تعرف على السيرة الذاتية عن محمد الجارحي 			</h2>
				<p class="text-center mb-5"> فهو نائب رئيس مجلس الإدارة والعضو المنتدب لمجموعة حديد الجارحي، ورئيس مجلس إدارة شركة "Bigbillboard" للدعاية والإعلان، والعضو المنتدب لشركة ويست فيلدج للاستصلاح الزراعي، وعضو مجلس أمناء جامعة "Hertfordshire" الإنجليزية بالعاصمة الإدارية الجديدة. ورئيس مجلس إدارة شركة HF Tube لصناعة المواسير، وعضو مجلس إدارة شركة "صن بيتش للمشروعات السياحية.</p>
				<!-- <span class="subheading">صوتك هيوصل </span> -->
			  </div>
			  <div id="fb-root"></div>
			  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v8.0" nonce="vcoFLLDY"></script>
			  
			  <div class="fb-video" data-href="https://www.facebook.com/MohamedElGarhyOfficial/videos/628873997809437/" data-show-text="false" data-width="" data-autoplay="false" data-show-captions="true"   data-allowfullscreen="true"		><blockquote cite="https://developers.facebook.com/MohamedElGarhyOfficial/videos/628873997809437/" class="fb-xfbml-parse-ignore"><a href="https://developers.facebook.com/MohamedElGarhyOfficial/videos/628873997809437/">محمد الجارحي - مرشح مجلس النواب ٢٠٢٠</a><p>من هو محمد الجارحي مرشح القائمة الوطنية من اجل مصر؟
	  
				  #محمد_الجارحي
				  #صوتك_هايوصل
				  #انتخابات_مجلس_النواب_٢٠٢٠
				  #قائمة_من_اجل_مصر
				  #شمال_ووسط_وجنوب_الصعيد
			  </p>Posted by ‎<a href="https://www.facebook.com/MohamedElGarhyOfficial/ " >Mohamed Elgarhy - محمد الجارحي</a>‎ on Friday, 9 October 2020</blockquote></div>
		  </div>
  
		  
  
	  </section>
	  <!--  End Video About El Garhy FB EMBEDD-->
	  
	  
	  <!-- Start Recent News  -->
  
	  <section class="ftco-section recent-news">
		  <div class="container">
			  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-center heading-section ftco-animate">
				  <span class="subheading">أحدث الأخبار </span>
				<h2 class="mb-3" style="color: #ffffff;" >أخبار محمد الجارحي </h2>
				<p class="text-center " style="color: #C8C8C8; margin-bottom: 65px;">  تابع كل أخبار الجارحي الجديدة والمهمة على الصعيد السياسي والاقتصادي والتنموي الان على موقعه الالكتروني </p>
			  </div>
			<div class="row d-flex">
				{%for n in news%}	
					<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 news1-section d-flex ftco-animate">
						<div class="blog-entry justify-content-end">
						<img class="block-20" src="{% static 'images/News/news1.jpg' %}">
						<div class="text p-4 heading-news float-right d-block">
							<h2>{{n.title}}</h2>
							<span class="date">{{n.time|date:"M d, Y"}}</span>
							<p>{{n.content}}</p>
							<div class="text-center mt-4">
							<a href="{% url 'garhy:newsdetails' n.id	%}" class="btn btn-news">اقرأ أكثر </a>
							</div>
						</div>
						</div>
					</div>
				{%endfor%}
			</div>
			<div class="col-md-12 text-center mt-4">
			  <a href="{% anchor 'garhy:mediaandnews' 'newsSection' %}" class="btn btn-news-more px-5  ">للمزيد من الأخبار </a>
		  </div>
		  </div>
		</section>
			
	  <!-- End Recent News  -->
  
	  <!-- Start Media  -->
	  <section class="ftco-section section-media	 ">
		  <div class="container">
			  <div class="row justify-content-center mb-5">
				  <div class="col-lg-10 col-md-10 text-center heading-section ftco-animate">
					  <span class="subheading">ميديا</span>
					  <h2 class="mb-4">معرض الصور والميديا </h2>
					  <p style="color: #707070;"> معرض الصور الخاص بالجارحي كل ما تريد أن تراه من ميديا الايفينتات والفعاليات الهامة وبعض الصور والذكريات الهامة المحفورة بتاريخ محمد الجارحي يمكنك رؤية المزيد من الصور الان على الموقع الرسمي للجارحي   </p>
				  </div>
			  </div>
			  <div class="row" id="lightgallery">
				  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 s-item" data-aos="fade" href="{% static 'images/Gallery/1.1.jpg' %}" data-sub-html="<h4>محمد الجارحي في الإعلام  </h4><p>الجارحي يطلق عدة مبادرات في الآونة الأخير تستهدف الشباب وتطويرهم الثقافي والتكنولوجي في مصر</p>">
					<a href="#"><img src="{% static 'images/Gallery/1.jpg' %}" alt="IMage" class="img-fluid elgarhy-img-d"></a>
				  </div>
				  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 s-item" data-aos="fade" href="{% static 'images/Gallery/2.1.jpg' %}" data-sub-html="<h4>محمد الجارحي في الإعلام </h4><p>الجارحي يطلق عدة مبادرات في الآونة الأخير تستهدف الشباب وتطويرهم الثقافي والتكنولوجي في مصر.</p>">
					<a href="#"><img src="{% static 'images/Gallery/2.jpg' %}" alt="IMage" class="img-fluid elgarhy-img-d"></a>
				  </div>
				  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 s-item" data-aos="fade" href="{% static 'images/Gallery/3.1.jpg' %}" data-sub-html="<h4>محمد الجارحي في الإعلام </h4><p>الجارحي يطلق عدة مبادرات في الآونة الأخير تستهدف الشباب وتطويرهم الثقافي والتكنولوجي في مصر.</p>">
					  <a href="#"><img src="{% static 'images/Gallery/3.jpg' %}" alt="IMage" class="img-fluid elgarhy-img-d"></a>
				  </div>
				  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 s-item" data-aos="fade" href="{% static 'images/Gallery/4.1.jpg' %}" data-sub-html="<h4>محمد الجارحي في الإعلام </h4><p>الجارحي يطلق عدة مبادرات في الآونة الأخير تستهدف الشباب وتطويرهم الثقافي والتكنولوجي في مصر.</p>">
					  <a href="#"><img src="{% static 'images/Gallery/4.jpg' %}" alt="IMage" class="img-fluid elgarhy-img-d"></a>
				  </div>
				  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 s-item" data-aos="fade" href="{% static 'images/Gallery/5.1.jpg' %}" data-sub-html="<h4>محمد الجارحي في الإعلام </h4><p>الجارحي يطلق عدة مبادرات في الآونة الأخير تستهدف الشباب وتطويرهم الثقافي والتكنولوجي في مصر.</p>">
					  <a href="#"><img src="{% static 'images/Gallery/5.jpg' %}" alt="IMage" class="img-fluid elgarhy-img-d"></a>
				  </div>
				  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 s-item" data-aos="fade" href="{% static 'images/Gallery/6.1.jpg' %}" data-sub-html="<h4>محمد الجارحي في الإعلام </h4><p>أحداث مهمة للجارحي في المجال الرياضي الأهلي يفوز بالدوري والجارحي يستعد لمبادرة أخرى .</p>">
					<a href="#"><img src="{% static 'images/Gallery/6.jpg' %}" alt="IMage" class="img-fluid elgarhy-img-d"></a>
				  </div>
				  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 s-item" data-aos="fade" href="{% static 'images/Gallery/7.1.jpg' %}" data-sub-html="<h4>محمد الجارحي في الإعلام </h4><p>أحداث مهمة للجارحي في المجال الرياضي الأهلي يفوز بالدوري والجارحي يستعد لمبادرة أخرى.</p>">
					<a href="#"><img src="{% static 'images/Gallery/7.jpg' %}" alt="IMage" class="img-fluid elgarhy-img-d"></a>
				  </div>
			  </div>
			  <!-- This is media Section  -->
			   <!-- <div class="row media-section1 ">
				  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">	
					  <div class="row">
						  <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 media-imgs-s1">
							  <img class="media-img media-img1" src="{% static 'images/Media /1.jpg' %}" >
						  </div>
						  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 media-imgs-s2">
							  <img class="media-img media-img2" src="{% static 'images/Media /2.jpg' %}"  >
							  <img class="media-img media-img3" src="{% static 'images/Media /2.1.jpg' %}" >
						  </div>
  
					  </div>	
				  </div>
				  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 media-imgs-s3">	
					  <img class="media-img media-img4" src="{% static 'images/Media /3.jpg' %}"  >
				  </div>
			  </div>
			  <div class="row media-section2">
				  <div class="col-xl-6 col-lg-6 col-md-12">	
					  <div class="row">
						  <div class="col-xl-4 col-lg-4 col-md-12">
							  <img class="media-img media-img5" src="{% static 'images/Media /4.jpg' %}"  >
						  </div>
						  <div class="col-xl-4 col-lg-4 col-md-12">
							  <img class="media-img media-img6" src="{% static 'images/Media /5.jpg' %}"  >
						  </div>
						  <div class="col-xl-4 col-lg-4 col-md-12">
							  <img class="media-img media-img7" src="{% static 'images/Media /6.jpg' %}"  >
						  </div>
  
					  </div>	
				  </div>
				  <div class="col-xl-6 col-lg-6 col-md-6">	
					  <div class="row">
						  <div class="col-xl-8 col-lg-8 col-md-8">
								  <img class="media-img media-img8" src="{% static 'images/Media /7.jpg' %}"  >
						  </div>
						  <div class="col-xl-4 col-lg-4 col-md-4">
							  <img class="media-img media-img9" src="{% static 'images/Media /8.jpg' %}"  >
						  </div>
  
					  </div>
				  </div>
  
				  
			  </div>  -->
			  <!-- Button Show Medi More cases -->
			  <div class="col-md-12 text-center mt-5">
				  <a href="{% anchor 'garhy:mediaandnews' 'mediaSection' %}" class="btn btn-media-more px-5">مشاهدة جميع الصور  </a>
			  </div>
		  </div>
	  </section>
	  <!-- End Media  -->
  
	  <!-- Start Awards  -->
	  <section class=" section-awards-home" id="awardsHome">
	  <div class="container">
		  <div class="row d-flex awards2">
			  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 heading-section ftco-animate awards-content  about-garhy-more">
				<div class="row justify-content-start pt-3 pb-3">
				  <div class="col-xl-12 col-lg-12 col-md-12 text-center heading-section-allawards ftco-animate awards-content">
					<h2 class="subheading" style=" font-weight: bold; font-size: 30px;color: #a97f32;"> الجوائز والتقديرات </h2>
				  <h2 class="mb-4" style="color: #fcfcfc ;direction: ltr; font-size: 24px;" >{{award.title}}</h2>
				  <p style="color: #ffffff;">{{award.content}}</p>
  
				  <div class="col-md-12 text-center mt-5">
					  <a href="{% url 'garhy:awards'%}" class="btn btn-awards-more px-5">مشاهدة المزيد من الجوائز   </a>
				  </div>
				  </div>
				</div>
			  </div>
			  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 awards2-img">
				<div class="about-img-single">
				  <img src="{% static 'images/Awards/awards000.jpg' %}" alt="about" class="awards-garhy-main-img">
				</div>
			  </div>
	
			</div>
  
  
  
	  </div>
	  </section>
	  <!-- END Awards  -->
  
	  <!-- Social Responsibility -->
	  <section class="ftco-section section-social-responsibility	 ">
		  <div class="container">
			  <div class="row justify-content-center mb-5">
				  <div class="col-md-10 text-center heading-section ftco-animate">
					  <span class="subheading">المسؤولية الاجتماعية</span>
					  <h2 class="mb-4">مسؤولية ومساهمات الجارحي المجتمعية </h2>
					  <p style="color: #707070;">ولم يغفل الجارحي مسئوليته المجتمعية ودوره الإنساني، فأطلق العديد من المبادرات لتخفيف العبء عن المواطن المصري كمبادرة دعم العمالة غير المنتظمة وتحدي الخير خلال جائحة كورونا، ودعم العديد من المؤسسات الصحية لتقف وتستمر في عطائها كمستشفى ٥٧٣٥٧ وأهل مصر لعلاج الحروق والمعهد القومي للأورام</p>
				  </div>
			  </div>
			  <!-- This is Social Responsibilty Section Slider -->
			  <div class="row">
				  <div class="col-md-12">
							  <div class="carousel-case owl-carousel ftco-owl">
								  <!-- Rebeated Items -->
								  {%for sr in srs%}
									  <div class="item">
										  <div class="case img d-flex align-items-center justify-content-center" style="background-image: url({{sr.img.url}});">
											  <div class="text text-center">
												  <h3><a href="{% url 'garhy:srdetails' sr.id%}">{{sr.title}}</a></h3>
												  <span>{{sr.time|date:"F d, Y"}}</span>
											  </div>
										  </div>
									  </div>
								  {%endfor%}
							  </div>
							  
				  </div>
  
				  <!-- Button Read cases -->
				  <div class="col-md-12 text-center mt-4">
					  <a href="{% url 'garhy:socialResponsibility'%}" class="btn btn-cases-more px-5">مشاهدة المزيد </a>
				  </div>
			  </div>
		  </div>
	  </section>
	  <!-- End Social Responsibility -->
  
	  <!-- Start What They say about Elgarhy  -->
	  <section class="ftco-section testimony-section">
		  <div class="container">
			  <div class="row justify-content-center">
				  <div class="col-md-10 text-center heading-section ftco-animate">
					  <span class="subheading">آراء</span>
				  <h2 class="mb-4">قالوا عن الجارحي </h2>
				  <p class="mb-4">بعض ما قيل عن الجارحي من آراء وشهادات وتوصيات من أهل الخبرة والثقة  </p>
				  </div>
			  </div>
			  <div class="row ftco-animate">
				  <div class="col-md-12">
				  <div class="carousel-testimony owl-carousel ftco-owl">
					{%for say in says%}
						<div class="item">
						<div class="testimony-wrap py-4">
							<div class="text">
							<p class="mb-4 justify-content-lg-center" style="line-height: 1.5; min-height: 144px !important;">{{say.content}} </p>
							<div class="d-flex align-items-center">
								<div class="user-content">
								<p class="name">{{say.name}}</p>
								<span class="position">{{say.job}}</span>
								</div>
								<div class="user-img" style="background-image: url({{say.img.url}})"></div>
			
							</div>
							</div>
						</div>
						</div>
					{%endfor%}
				  </div>
				  </div>
			  </div>
		  </div>
	  </section>
		  <!-- End  What They say about Elgarhy  -->
  
	  <!-- Start Section Business and Investments  -->
	  <section class="ftco-section business-section">
		  <div class="container">
			  <div class="row justify-content-center">
				  <div class="col-md-10 text-center heading-section ftco-animate">
					  <span class="subheading">أعمال واستثمارات </span>
				  <h2 class="mb-4">أعمال واستثمارات الجارحي  </h2>
				  <p class="mb-5">وكما تسير الدولة المصرية في مختلف محاور التنمية لبناء مصر القوية، ينطلق الجارحي بحس وطني في مشروعاته واستثماراته في مختلف المجالات</p>
				  </div>
			  </div>
			  <div class="row ftco-animate" style="direction: ltr;">
				  <div class="col-md-12 justify-content-start text-center">
					  <div class="carousel-business owl-carousel ftco-owl">
						  <div class="item">
							  <div class="business-imgs text-center justify-content-center">
								  <img src="{% static 'images/Business/bigbillboard logo Black.png' %}" alt="" class="img-business" >
								  <span class="company">Bigbillboard </span>
								  <p class="title">رئيس مجلس إدراة </p>
							  </div>
						  </div>	
						  <div class="item">
							  <div class="business-imgs text-center justify-content-center">
								  <img src="{% static 'images/Business/HEZB.png' %}" alt="" class="img-business" >
								  <span class="company">حزب مستقبل وطن </span>
								  <p class="title">الأمين العام المساعد وأمين شباب الجمهورية  </p>
							  </div>
						  </div>
						  <div class="item">
							  <div class="business-imgs text-center justify-content-center">
								  <img src="{% static 'images/Business/loogooooooo.png' %}" alt="" class="img-business" >
								  <span class="company" style="font-size: 16px ;">مجموعة حديد الجارحي </span>
								  <p class="title">نائب رئيس مجلس الإدارة والعضو المنتدب </p>
							  </div>
						  </div>
						  <div class="item">
							  <div class="business-imgs text-center justify-content-center">
								  <img src="{% static 'images/Business/HFTUBE.png' %}" alt="" class="img-business" >
								  <span class="company">HF TUBE </span>
								  <p class="title">رئيس مجلس إدراة </p>
							  </div>
						  </div>
						  <div class="item">
							  <div class="business-imgs text-center justify-content-center">
								  <img src="{% static 'images/Business/West Village.png' %}" alt="" class="img-business" >
								  <span class="company">West Village </span>
								  <p class="title">العضو المنتدب </p>
							  </div>
						  </div>
						  <div class="item">
							  <div class="business-imgs text-center justify-content-center">
								  <img src="{% static 'images/Business/Center.png' %}" alt="" class="img-business" >
								  <span class="company">center </span>
								  <p class="title">رئيس مجلس إدراة </p>
							  </div>
						  </div>
						  <div class="item">
							  <div class="business-imgs text-center justify-content-center">
								  <img src="{% static 'images/Business/sun beach.png' %}" alt="" class="img-business" >
								  <span class="company">Sun Beach </span>
								  <p class="title">عضو مجلس إدراة </p>
							  </div>
						  </div>
						  <div class="item">
							  <div class="business-imgs text-center justify-content-center">
								  <img src="{% static 'images/Business/Hertfordshire.png' %}" alt="" class="img-business" >
								  <span class="company">Hertfordshire </span>
								  <p class="title">عضو مجلس أمناء  </p>
							  </div>
						  </div>
  
					  </div>
				  </div>
			  </div>
		  </div>
	  </section>
	  <!-- End  Section Business and Investments  -->
{%endblock%}