@font-face {
  font-family: 'ArefRuqaa-Regular';
  src: url('ArefRuqaa-Regular.svg#ArefRuqaa-Regular') format('svg'),
       url('ArefRuqaa-Regular.ttf') format('truetype'),
       url('ArefRuqaa-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aref-regular';
  src: url('aref-regular.eot');
  src: url('aref-regular.eot?#iefix') format('embedded-opentype'),
       url('aref-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

