{% load static %}
{% load custom_tags %}
<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 footer-breif">
          <div class="ftco-footer-widget mb-4">
            <h2 class="logo"><a href="{% url 'garhy:index' %}"><img src="{% static 'images/logo1.png' %}"></a></h2>
            <p> محمد جمال عبد القادر الجارحي، الأمين العام المساعد وأمين شباب الجمهورية بحزب مستقبل وطن، ورئيس مجلس إدارة مركز مستقبل وطن للدراسات السياسية والاستراتيجية.</p>
          
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12  links-list">
          <div class="ftco-footer-widget mb-4 imp-links">
            <h2 class="ftco-heading-2 text-right">لينكات هامة </h2>
            <div class="row mb-3">
              <ul class="list-unstyled important-links-list1" >
                  <li><a href="{% url 'garhy:about'%}" class="py-1 d-block"> - عن الجارحي  </a></li>
                  <li><a href="{% url 'garhy:awards'%}" class="py-1 d-block"> - الجوائز التي نالها   </a></li>
                  <li><a href="{% anchor 'garhy:awards' 'moreAwards' %}" class="py-1 d-block"> - التقديرات   </a></li>
                  <li><a href="{% anchor 'garhy:about' 'garhyBusiness1' %}" class="py-1 d-block"> - استثمارات الجارحي</a></li>
                  <li><a href="{% url 'garhy:socialResponsibility' %}" class="py-1 d-block"> - المسؤولية الاجتماعية</a></li>
                </ul>
                <ul class="list-unstyled important-links-list2">
                  <li><a href="{% anchor 'garhy:mediaandnews' 'newsSection' %}" class="py-1 d-block"> - آخر الأخبار  </a></li>
                  <li><a href="{% anchor 'garhy:mediaandnews' 'mediaSection' %}" class="py-1 d-block"> - الجارحي في الأعلام </a></li>
                  <li><a href="{% anchor 'garhy:mediaandnews' 'mediaSection' %}" class="py-1 d-block"> - الصور وأهم الأحداث </a></li>
    <li><a href="{% anchor 'garhy:contact' 'FAQs' %}" class="py-1 d-block"> - الأسئلة والاستفسارات </a></li>
                </ul>

            </div>
              <h3 class="ftco-heading-2	mb-4 text-right">تابع الجارحي هنا  </h3>
            <ul class="ftco-footer-social list-unstyled text-right mt-4">
                <!-- <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li> -->
                <li class="ftco-animate"><a href="https://www.instagram.com/m_g_elgarhy" target="_blank"><span class="icon-instagram"></span></a></li>
                <li class="ftco-animate"><a href="https://www.facebook.com/MohamedElGarhyOfficial/" target="_blank"><span class="icon-facebook"></span></a></li>
              </ul>

          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
          <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2 mb-5">للتواصل مع الجارحي</h2>
              <div class="block-23 mb-5" >
                <ul class="list-unstyled contact-elgarhy">
                  <!-- <li><span class="icon icon-map-marker"></span><span class="text">   </span></li> -->
                  <li><a href="{% url 'garhy:contact'%}"><span class="icon icon-map-o"></span><span class="garhy-location contact-assets">القاهرة ,مصر</span></a></li>
                  <!-- <li><a href="#"><span class="icon icon-phone_in_talk"></span><span class="text"> 20 10000 20000 </span></a></li> -->
                  <li><a href="mailto:info@mohamedelgarhy.com"><span class="icon icon-envelope"></span><span class="garhy-mail contact-assets">info@mohamedelgarhy.com</span></a></li>
                </ul>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-center">
        </div>
      </div>
    </div>
  </footer>